:root {
  --font-family-cabin: Cabin, sans-serif;
  --font-family-lobster: LobsterTwo-Regular, sans-serif;

  --font-size-xs: 1.2rem;
  --font-size-sm: 1.4rem;
  --font-size-base: 1.6rem;
  --font-size-lg: 1.8rem;
  --font-size-xl: 2rem;
  --font-size-2xl: 2.6rem;
  --font-size-3xl: 3rem;
  --font-size-4xl: 3.6rem;
  --font-size-5xl: 5.2rem;
  --font-size-6xl: 6rem;
  --font-size-7xl: 7.2rem;
  --font-size-8xl: 8rem;

  --font-weight-thin: 200;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 700;
  --font-weight-bold: 900;
}
