<header class="adv-header">
  <img
    class="adv-header__logo"
    src="images/logo.png"
    alt="Logo da Samantha"
  >

  <nav class="nav-menu">
    <ul class="nav-menu__list">
      <li class="nav-menu__item">
        <a
          href="#hero-section"
          class="nav-menu__link"
          [class.nav-menu__link--active]="activeIndex() === 1"
          (click)="activateLink(1)"
          data-index="1"
        > Home </a>
      </li>

      <li class="nav-menu__item">
        <a
          href="#expertise-section"
          class="nav-menu__link"
          [class.nav-menu__link--active]="activeIndex() === 2"
          (click)="activateLink(2)"
          data-index="2"
        > Serviços </a>
      </li>

      <li class="nav-menu__item">
        <a
          href="#faq-section"
          class="nav-menu__link"
          [class.nav-menu__link--active]="activeIndex() === 3"
          (click)="activateLink(3)"
          data-index="3"
        > Dúvidas </a>
      </li>

      <li class="nav-menu__item">
        <a
          href="#contact-section"
          class="nav-menu__link"
          [class.nav-menu__link--active]="activeIndex() === 4"
          (click)="activateLink(4)"
          data-index="4"
        > Contato </a>
      </li>
    </ul>
  </nav>

  <button
    class="hamburger hamburger--spin"
    [class.is-active]="isMenuOpen()"
    type="button"
    aria-label="Menu"
    aria-controls="nav-menu"
    [ariaExpanded]="isMenuOpen()"
    popovertarget="mobile-nav-menu"
  >
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>

  <nav
    #mobileNavMenu
    popover
    id="mobile-nav-menu"
    class="mobile-nav-menu"
    (toggle)="onPopoverToggle($event)"

  >
    <div class="mobile-nav-menu__drag-handle"></div>

    <ul class="mobile-nav-menu__list">
      <li class="mobile-nav-menu__item">
        <a
          href="#hero-section"
          class="mobile-nav-menu__link"
          [class.mobile-nav-menu__link--active]="activeIndex() === 1"
          (click)="closePopover()"
        > Home </a>
      </li>

      <li class="mobile-nav-menu__item">
        <a
          href="#expertise-section"
          class="mobile-nav-menu__link"
          [class.mobile-nav-menu__link--active]="activeIndex() === 2"
          (click)="closePopover()"
        > Serviços </a>
      </li>

      <li class="mobile-nav-menu__item">
        <a
          href="#faq-section"
          class="mobile-nav-menu__link"
          [class.mobile-nav-menu__link--active]="activeIndex() === 3"
          (click)="closePopover()"
        > Dúvidas </a>
      </li>

      <li class="mobile-nav-menu__item">
        <a
          href="#contact-section"
          class="mobile-nav-menu__link"
          [class.mobile-nav-menu__link--active]="activeIndex() === 4"
          (click)="closePopover()"
        > Contato </a>
      </li>
    </ul>
  </nav>
</header>
