:root {
  --color-neutral-lightest: #F2F2F2;
  --color-neutral-lighter: #DADAD9;
  --color-neutral-light: #B6B5B3;
  --color-neutral: #868480;
  --color-neutral-dark: #55524D;
  --color-neutral-darker: #25211B;
  --color-neutral-darkest: #0D0902;

  --color-grey-1: #d4d4d4;

  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-blue: #0d69d1;
  --color-accent: #25953f;
  --color-warning: #FDB92F;
  --color-danger: #E84B4B;
  --color-pink: #ff42b0;
  --color-golden: #8B6E46;

  --color-text: var(--color-neutral-darkest);

  --color-bg-dark: #313e55;
  // --color-bg-dark: #29282d;
  --color-text-light: #F4F4F9;
  --color-bg-light: #e4e4e2;
  --color-text-dark: var(--color-neutral-darkest);
}
