<footer class="adv-footer">
  <div class="adv-footer__content">
    <div class="service-list-section">
      <h2 class="service-list-section__title"> Serviços oferecidos </h2>

      <ul class="service-list">
        <li class="service-list__item"> Planejamento Previdenciário </li>
        <li class="service-list__item"> Salário Maternidade </li>
        <li class="service-list__item"> Auxílio doença e aposentadoria por invalidez </li>
        <li class="service-list__item"> Revisão de benefícios negados </li>
        <li class="service-list__item"> Recursos e apelações </li>
      </ul>
    </div>

    <img
      class="adv-footer__logo"
      src="images/logo-shield.png"
      alt="Logo do escritório da Doutora Samantha Ribeiro Advogada Previdenciarista"
    >
  </div>

  <p class="adv-footer__copyright">
    © 2026 Samantha Ribeiro — Advogada Previdenciarista
  </p>
</footer>
