@use './styles/index';

html, body, main {
  width: 100dvw;
  height: 100dvh;
  // overflow-x: hidden;
  font-family: var(--font-family-cabin);
  color: var(--color-black);
  scroll-behavior: smooth;
  scroll-padding: 40px;
  background-color: var(--color-neutral-lightest);
}

body {
  overflow-x: hidden;
}

@media (prefers-reduced-motion: reduce) {
  html, body, main {
    scroll-behavior: initial;
  }
}
