@use 'tokens/breakpoints' as breakpoints;

:host {
  position: sticky;
  top: 0;
  display: block;
  width: 100%;
  background-color: var(--color-neutral-lightest);
  z-index: 2;
}

.adv-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 10px 18px 20px;
  overflow: hidden;
  max-width: var(--max-content-width);
  margin: 0 auto;
  height: 80px;
  transition: all .2s ease;

  &__logo {
    width: 130px;
  }
}

.hamburger {
  scale: 0.8;

  .hamburger-box {
    width: 32px;
    height: 24px;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 32px;
    height: 4px;
  }

  &:hover {
    opacity: 1;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      opacity: 0.8;
    }
  }
}

.mobile-nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: var(--color-white);
  translate: 0 100%;
  border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
  box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.15);
  border: none;
  transition:
    translate 0.3s ease-in-out,
    display 0.3s allow-discrete,
    overlay 1s ease allow-discrete;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    gap: 32px;
    list-style: none;
  }

  &__link {
    font-family: var(--font-family-lobster);
    font-size: var(--font-size-4xl);
    color: var(--color-text);
    text-decoration: none;

    &--active {
      color: var(--color-golden);
    }
  }

  &__drag-handle {
    position: absolute;
    top: 40px;
    left: 50%;
    translate: -50% 0;
    width: 50px;
    height: 5px;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin: 0 auto;
  }

  .hamburger {
    position: absolute;
    top: 80px;
    left: 50%;
    translate: -50% 0;
  }

  &:popover-open {
    translate: 0 20%;

    @starting-style {
      translate: -0 100%;
    }
  }

  &::backdrop {
    background-color: transparent;
    transition:
      background-color 0.3s ease,
      display 0.3s ease allow-discrete,
      overlay 0.3s ease allow-discrete;
  }

  &:popover-open::backdrop {
    background-color: hsl(from var(--color-black) h s l / 0.4);
    pointer-events: none;

    @starting-style {
      background-color: transparent;
    }
  }
}

.nav-menu {
  position: relative;
  display: none;
  align-items: center;
  translate: 0 0;
  height: 100%;
  background-color: transparent;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 18px;
    height: 30px;
    list-style: none;
  }

  &__link {
    position: relative;
    font-family: var(--font-family-cabin);
    font-size: var(--font-size-lg);
    color: var(--color-neutral-darker);
    border-bottom: 2px solid transparent;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 0;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--color-golden);
      transform: scaleX(0);
      transition: transform .1s ease-out;
    }

    &:hover,
    &--active {
      color: var(--color-golden);
      transition: color .1s ease-out;

      &::after {
        transform: scaleX(1);
      }
    }
  }
}

@media screen and (width > breakpoints.$bp-md) {
  :host {
    &.smaller {
      background-color: hsl(from var(--color-neutral-lightest) h s l / 0.9);
      backdrop-filter: blur(5px);
      box-shadow: 1px 1px 4px 0 #dad7d7;

      .adv-header {
        height: 80px;
        animation-name: slide-top;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;

        &__logo {
          width: 140px;
        }
      }

      .nav-menu {
        &__list {
          gap: 12px;
        }
      }
    }
  }

  .hamburger {
    display: none;
  }

  .nav-menu {
    display: flex;
  }

  .adv-header {
    height: 100px;

    &__logo {
      width: 170px;
    }
  }
}

@keyframes slide-top {
  0% {
    translate: 0 -100%;
  }

  100% {
    translate: 0 0;
  }
}
