@use './styles/index';

html, body {
  width: 100dvw;
  height: 100dvh;
  font-family: var(--font-family-cabin);
  color: var(--color-black);
  scroll-behavior: smooth;
  scroll-padding: 40px;
  background-color: var(--color-bg-light);
}

body {
  overflow-x: hidden;
  height: unset;
}

@media (prefers-reduced-motion: reduce) {
  html, body {
    scroll-behavior: initial;
  }
}

.gsap-highlight {
  --x: 0;
  --y: 0;
  --color: #dbb765;

  background-image: linear-gradient(var(--color));
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-x: var(--x);
  background-position-y: var(--y);
  padding: 0 2px;
}
